server:
  port: 9080
eureka:
  client:
    fetch-registry: false
    healthcheck:
      enabled: true
    serviceUrl:
      defaultZone: http://user:123456@${EUREKA_HOST:localhost}:8080/eureka/ #服务注册中信地址，含有BASIC认证的用户名和密码
  instance:
    prefer-ip-address: true #将IP注册到服务注册中心

#放开所有节点
management:
  endpoints:
    web:
      exposure:
        include: "*"

spring:
  jackson:
    time-zone: GMT+8
  application:
    name: mail-service
  profiles:
    active: test#logging.level.root = DEBUG;
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_URL:localhost:5432/book}?serverTimezone=Asia/Shanghai
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 10MB
  mail:
    username: 1534401580@qq.com
    password: wbdsrtoxyhpkjjah
    host: smtp.qq.com
    port: 465
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
          port: ${spring.mail.port}
          auth: true
          starttls:
            enable: true
            required: true
  sql:
    init:
      enabled: true
logging:
  file:
    path: /var/tmp/mylog.log
