version: "3"
networks:
  service:

services:
  db:
    privileged: true
    networks:
      - service
    image: docker.1panel.live/enmotech/opengauss-lite:latest
    restart: always
    volumes:
      - ./database/:/var/lib/opengauss
      - ./core/:/core
    ports:
      - 5432:5432
    environment:
      TZ: Asia/Shanghai
      GS_PASSWORD: Password123@@
      GS_USER: gaussdb
      CORE_PATTERN: /core/core-%e-%p-%t

  service-discovery:
    networks:
      - service
    container_name: service-discovery
    restart: always
    build: ./backend-micro/service-discovery
    depends_on:
      - db
    environment:
      TZ: Asia/Shanghai
      username: gaussdb
      DB_PASSWORD: ${DB_PASSWORD:-password}
      DB_URL: ${DB_URL:-db}:5432/book
      EUREKA_HOST: ${EUREKA_HOST:-service-discovery}
    volumes:
      - ./logs/:/app/log
      - ./application-prod.yml:/app/application.yml
    ports:
      - "8080:8080"

  user-service:
    networks:
      - service
    container_name: user-service
    restart: always
    build: ./backend-micro/user-service
    depends_on:
      - db
      - service-discovery
    environment:
      TZ: Asia/Shanghai
      username: gaussdb
      DB_PASSWORD: ${DB_PASSWORD:-password}
      DB_URL: ${DB_URL:-db}:5432/book
    volumes:
      - ./logs/:/app/log
      - ./application-prod.yml:/app/application.yml
    ports:
      - "9090:9090"

  book-service:
    networks:
      - service
    container_name: book-service
    restart: always
    build: ./backend-micro/book-service
    depends_on:
      - db
      - service-discovery
    environment:
      TZ: Asia/Shanghai
      username: gaussdb
      DB_PASSWORD: ${DB_PASSWORD:-password}
      DB_URL: ${DB_URL:-db}:5432/book
      EUREKA_HOST: ${EUREKA_HOST:-service-discovery}
    volumes:
      - ./logs/:/app/log
      - ./application-prod.yml:/app/application.yml
    ports:
      - "9091:9091"

  mail-service:
    networks:
      - service
    container_name: mail-service
    restart: always
    build: ./backend-micro/mail-service
    depends_on:
      - db
      - service-discovery
    environment:
      TZ: Asia/Shanghai
      DB_username: gaussdb
      DB_PASSWORD: ${DB_PASSWORD:-password}
      DB_URL: ${DB_URL:-db}:5432/book
      EUREKA_HOST: ${EUREKA_HOST:-service-discovery}
    volumes:
      - ./logs/:/app/log
      - ./application-prod.yml:/app/application.yml
    ports:
      - "9080:9080"

  borrow-service:
    networks:
      - service
    container_name: borrow-service
    restart: always
    build: ./backend-micro/borrow-service
    depends_on:
      - db
      - service-discovery
    environment:
      TZ: Asia/Shanghai
      username: gaussdb
      DB_PASSWORD: ${DB_PASSWORD:-password}
      DB_URL: ${DB_URL:-db}:5432/book
      EUREKA_HOST: ${EUREKA_HOST:-service-discovery}
    volumes:
      - ./logs/:/app/log
      - ./application-prod.yml:/app/application.yml
    ports:
      - "9092:9092"

  comment-service:
    networks:
      - service
    container_name: comment-service
    restart: always
    build: ./backend-micro/comment-service
    depends_on:
      - db
      - service-discovery
    environment:
      TZ: Asia/Shanghai
      username: gaussdb
      DB_PASSWORD: ${DB_PASSWORD:-password}
      DB_URL: ${DB_URL:-db}:5432/book
      EUREKA_HOST: ${EUREKA_HOST:-service-discovery}
    volumes:
      - ./logs/:/app/log
      - ./application-prod.yml:/app/application.yml
    ports:
      - "9093:9093"

  logger-service:
    networks:
      - service
    container_name: logger-service
    restart: always
    build: ./backend-micro/logger-service
    depends_on:
      - db
      - service-discovery
    environment:
      TZ: Asia/Shanghai
      username: gaussdb
      DB_PASSWORD: ${DB_PASSWORD:-password}
      DB_URL: ${DB_URL:-db}:5432/book
      EUREKA_HOST: ${EUREKA_HOST:-service-discovery}
    volumes:
      - ./logs/:/app/log
      - ./application-prod.yml:/app/application.yml
    ports:
      - "9099:9099"

  violation-service:
    networks:
      - service
    container_name: violation-service
    restart: always
    build: ./backend-micro/violation-service
    depends_on:
      - db
      - service-discovery
    environment:
      TZ: Asia/Shanghai
      username: gaussdb
      DB_PASSWORD: ${DB_PASSWORD:-password}
      DB_URL: ${DB_URL:-db}:5432/book
      EUREKA_HOST: ${EUREKA_HOST:-service-discovery}
    volumes:
      - ./logs/:/app/log
      - ./application-prod.yml:/app/application.yml
    ports:
      - "9094:9094"

  se-frontend-server:
    networks:
      - service
    container_name: se-frontend-server
    restart: always
    build: ./frontend
    environment:
      TZ: Asia/Shanghai
      username: gaussdb
      DB_PASSWORD: ${DB_PASSWORD:-password}
    ports:
      - "80:80"
    expose:
      - "80"
